.container {
  gap: 14px;
  width: 60%;
  height: 100%;
  padding: 20px;
  background-color: black;
}

.search {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.recipeCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
}

.sideBar {
  right: 0;
  position: fixed;
  height: 100%;
  margin-top: -45px;
  background-color: var(--magnolia-pink);
  overflow-y: auto;
  width: 300px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 80px;
}