.container {
  gap: 14px;
  width: 100%;
  padding: 20px;
}

.recipeCardContainer {
  width: 68%;
}

.sideBar {
  right: 0;
  position: fixed;
  height: 100%;
  margin-top: -45px;
  background-color: var(--magnolia-pink);
  overflow-y: auto;
  width: 300px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 80px;
}