html {
  --magnolia-tree-pink: #FFE3DE;
  --magnolia-olive: #AEBFB1;
  --magnolia-orange: #FCDBC2;
  --magnolia-yellow: #FFFBE3;
  --magnolia-blue: #FFC4B2;
  --magnolia-red: #EEA4A7;
  --magnolia-tree-purp: #AC90A9;
}

.container {
  gap: 14px;
  width: 100%;
  padding: 21px;
}

.sideBar {
  right: 0;
  position: fixed;
  height: 100%;
  margin-top: -45px;
  background-color: var(--magnolia-pink);
  overflow-y: auto;
  width: 300px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.familyMembersContainer {
  display: block;
  width: 70%;
}
