.container {
  gap: 14px;
  width: 100%;
  padding: 21px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  position: fixed;
  right: 0;
  background-color: var(--magnolia-pink);
  height: 100%;
  width: 30%;
  margin-top: -45px;
  padding-top: 45px;
}

.familyMembersContainer {
  display: block;
  width: 70%;
}