.newRecipeForm {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.ingredientsInput {
  display: flex;
  align-items: center;
}

.newRecipeForm > label {
  margin-top: 10px;
}

.newRecipeForm > button, .ingredientsInput > button {
  height: 30px;
  border: 1px solid var(--magnolia-dark-purp);
  color: var(--magnolia-dark-purp);
  cursor: pointer;
}

.newRecipeForm > textarea {
  font-family: 'Roboto', sans-serif;
  width: 205px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-top: 10px;
}

.ingredientsInput > input {
  width: 180px;
}