.container {
  gap: 14px;
  width: 100%;
  padding: 20px;
}

.recipeContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.recipeCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sideBar {
  right: 0;
  position: fixed;

  height: 100%;
  margin-top: -65px;
  background-color: var(--magnolia-pink);
  overflow-y: auto;
  width: 300px;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 60px;
}

.profileContainer > h1 {
  text-align: center;
}

.profileContainer > a {
  text-decoration: underline;
}

.password {
  margin-left: 85px;
}

h1, h2, h3, h4 {
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  margin: 10% 0;
  font-size: 1.25rem;
}

.photoContainer {
  display: flex;
  justify-content: center;
}

.photo {
  margin-top: 20%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.img {
  border: 16px solid var(--magnolia-dark-purp);
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loadingImage {
  width: 20%;
  height: 20%;
  align-self: center;
}