.container {
  gap: 14px;
  width: 100%;
  padding: 21px;
}

.recipeCardContainer {
  margin-right: 14px;
  width: 75%;
}

.profileContainer {
  position: fixed;
  right: 0;
  background-color: var(--magnolia-white);
  height: 100%;
  width: 25%;
}

.profileContainer > h1 {
  text-align: center;
}

.profileContainer > a {
  text-decoration: underline;
}

h1, h4 {
  text-align: center;
}

h4 {
  margin-top: 25%;
  font-size: 1.5rem;
}

.photoContainer {
  display: flex;
  justify-content: center;
}

.photo {
  margin-top: 30%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}