.familyMemberList {
  display: flex;
  flex-direction: column;
}

.grandparentsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.grandparentsContainer > div {
  border-bottom: 12px solid var(--magnolia-red);
  border-left: 12px solid var(--magnolia-red);
  border-radius: 10px;
}

.parentsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
.parentsContainer > div {
  border-bottom: 12px solid var(--magnolia-yellow);
  border-left: 12px solid var(--magnolia-yellow);
  border-radius: 10px;
}

.siblingsLContainer, .siblingsRContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.siblingsLContainer > div, .siblingsRContainer > div {
  border-bottom: 12px solid var(--magnolia-orange);
  border-left: 12px solid var(--magnolia-orange);
  border-radius: 10px; 
}

.myGenerationContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.noSo {
  /* if there is no SO */
  margin-left: -42px;
}

.significantOthersContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.significantOthersContainer > div {
  border-bottom: 12px solid var(--magnolia-tree-pink);
  border-left: 12px solid var(--magnolia-tree-pink);
  border-radius: 10px;
}

.meContainer {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.meContainer > div {
  border-bottom: 12px solid var(--magnolia-dark-purp);
  border-left: 12px solid var(--magnolia-dark-purp);
  border-radius: 10px;
}

.childrenContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.childrenContainer > div {
  border-bottom: 12px solid var(--magnolia-tree-purp);
  border-left: 12px solid var(--magnolia-tree-purp);
  border-radius: 10px;
}

.grandchildrenContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.grandchildrenContainer > div {
  border-bottom: 12px solid var(--magnolia-olive);
  border-left: 12px solid var(--magnolia-olive);
  border-radius: 10px;
}