.familyMemberList {
  display: flex;
  flex-direction: column;
}

.parentsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.meContainer {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.childrenContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}