.container {
  height: 100%;
  display: flex;
  overflow: scroll;
  align-items: center;
  flex-direction: column;
  background-color: var(--card-background);
}

.container article, .container > section {
  width: 100%;
  padding: 21px;
  display: flex;
  max-width: 700px;
  flex-direction: column;
}

.container p {
  text-indent: 21px;
  text-align: left;
  display: flex;
  align-items: center;
}
.container input {
  width: 20px;
}

.container header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container h1 {
  margin: 0;
  margin-bottom: 7px;
}

.container h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.container span {
  width: 100%;
  display: flex;
	margin-top: 10px;
  align-items: center;
}

.container span button, .container span a {
  width: 150px;
  margin-right: 5px;
}

.container div {
  width: 100%;
}

.directionsSpacer {
  color: red;
}