/* * {
  border: 1px solid red;
} */

/* HEY ROOM 39
  the code above is a really neat tool for styling. I'm gonna leave it here for now because I use it a lot
*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Roboto";
  src: url('/src/assets/fonts/Roboto-Medium.ttf');
}

html {
  --magnolia-dark-purp: #643843;
  --magnolia-light-purp: #99627A;
  --magnolia-pink: #C88EA7;
  --magnolia-white: #E7CBCB;
}

body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;

  font-family: "Roboto";

  color: var(--magnolia-dark-purp);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

a,
a:visited {
  color: var(--magnolia-dark-purp)
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

.nav-spacer {
  height: 100px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 10px;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
}